<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
    <head>
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>
			{% block title %}
			{% endblock %}
        </title>
    </head>
    
    <body>
		{% block content %}
		{% endblock %}
		
		<br /><br />
		<div>Brought to you by: <a href="http://www.imetchrischris.com/">imetchrischris.com</a> // See <a href="http://contributing.appspot.com/cronschedule">contributing.appspot.com/cronschedule</a> for contrib info.</div>
    </body>
</html>
